<dl>
    <dt>
      <p>Titulo: <%= @movie.title %></p>
    </dt>
    <dd>
      <p>Ano de lançamento: <%= @movie.year %></p>
    </dd>
      <p>Sinopse: <%= @movie.synopsis %></p>
    <dd>
      <p>País de lançamento: <%= @movie.country %></p>
    </dd>
    <dd>
      <p>Duração: <%= @movie.time %></p>
    </dd>
    <dd>
      <p>Diretor: <%= @director.name %></p>
    </dd>
    <dd>
      <p>Genero: <%= @gender.name %></p>
    </dd>
    <%= link_to 'Editar', edit_movie_path %>
</dl>
