<dl>
    <dt>
      <p>title: <%= @movie.title %></p>
    </dt>
    <dd>
      <p>year: <%= @movie.year %></p>
    </dd>
      <p>synopsis: <%= @movie.synopsis %></p>
    <dd>
      <p>country: <%= @movie.country %></p>
    </dd>
    <dd>
      <p>time: <%= @movie.time %></p>
    </dd>
    <dd>
      <p>director: <%= @movie.director_id %></p>
    </dd>
    <dd>
      <p>gender: <%= @movie.gender_id %></p>
    </dd>
    <%= link_to 'Editar', edit_movie_path %>
</dl>
