<h2>Cadastrar novo diretor</h2>
<%= form_with model: @director do | d | %>
  <%= d.label 'Nome'%>
  <%= d.text_field :name %>
  <%= d.label 'País de origem:'%>
  <%= d.text_field :country %>
  <%= d.label 'Gênero favorito'%>
  <%= d.text_field :gender %>
  
  <%= d.submit 'Salvar' %>
<% end %>