<h2>Editar genero</h2>
<% if flash[:notice] %>
  <div>
    <%= flash[:notice] %>
  </div>
<% end %>

<%= form_with model: @gender do | g | %>
  <%= g.label 'Nome'%>
  <%= g.text_field :name %>
  
  <%= g.submit 'Salvar' %>
<% end %>